{% load static %}
{% load i18n %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Metas -->
    <title>Smart School System</title>
    <meta name="description" content="manage the school smartly">
    <meta name="author" content="Mehrshad Firouzian">

    <!-- CSS classes -->
    <link rel="stylesheet" href="{% static 'dest/css/w3.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>

<body style="background:#e6e6e6;color:black;">
    <div class="w3-container">
        <div class="w3-bar w3-light-grey">
            {% block nav_home %}
                <a class="w3-bar-item w3-button w3-mobile" href="/">Home</a>
            {% endblock nav_home %}

            {% block nav_attendance %}
                <a class="w3-bar-item w3-button w3-mobile" href="/attendance">Attendance</a>
            {% endblock nav_attendance %}

            {% block nav_copy %}
                <a class="w3-bar-item w3-button w3-mobile" href="javascript:void(0);">Photocopy & Print</a>
            {% endblock nav_copy %}
            <div class="w3-dropdown-hover w3-mobile">
                <a class="w3-button" href="javascript:void(0);">Students <i
                        class="fa fa-caret-down"></i></a>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    {% block nav_student_report_score %}
                        <a class="w3-bar-item w3-button w3-mobile"
                           href="javascript:void(0);">Report score</a>
                    {% endblock nav_student_report_score %}

                    {% block nav_student_report_indiscipline %}
                        <a class="w3-bar-item w3-button w3-mobile"
                           href="javascript:void(0);">Report indiscipline</a>
                    {% endblock nav_student_report_indiscipline %}

                    {% block nav_student_issue_comment %}
                        <a class="w3-bar-item w3-button w3-mobile"
                           href="javascript:void(0);">Issue comment</a>
                    {% endblock nav_student_issue_comment %}
                </div>
            </div>
            <div class="w3-dropdown-hover w3-mobile">
                <a class="w3-button" href="javascript:void(0);">Examination <i
                        class="fa fa-caret-down"></i></a>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    {% block nav_examination_set_exam %}
                        <a class="w3-bar-item w3-button w3-mobile"
                           href="javascript:void(0);">Set exam</a>
                    {% endblock nav_examination_set_exam %}

                    {% block nav_examination_postpone_exam %}
                        <a class="w3-bar-item w3-button w3-mobile"
                           href="javascript:void(0);">Postpone exam</a>
                    {% endblock nav_examination_postpone_exam %}

                    {% block nav_examination_cancel_exam %}
                        <a class="w3-bar-item w3-button w3-mobile"
                           href="javascript:void(0);">Cancel exam</a>
                    {% endblock nav_examination_cancel_exam %}
                </div>
            </div>
            <a class="w3-bar-item w3-button w3-mobile {% block nav_blog %}{% endblock nav_blog %}"
               href="javascript:void(0);">Blog</a>
            {% block nav_addition %}
                
            {% endblock nav_addition %}
        </div>
        
        {% block content %}
            
        {% endblock content %}
    </div>

    <!-- Js scripts -->
    <script src="{% static "custom/js/custom.js" %}"></script>

</body>

</html>